registry=https://registry.npm.taobao.org/
electron_mirror=https://npm.taobao.org/mirrors/electron/
# electron-builder-binaries_mirror=https://npm.taobao.org/mirrors/electron-builder-binaries/
save-exact=true
# ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
